USE [master]
GO
/****** Object:  Database [Online_Shopping_System]    Script Date: 2/28/2025 2:05:39 PM ******/
CREATE DATABASE [Online_Shopping_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Online_Shopping_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Online_Shopping_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Online_Shopping_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Online_Shopping_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Online_Shopping_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Online_Shopping_System]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/28/2025 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[name] [varchar](35) NOT NULL,
	[cust_address] [varchar](100) NULL,
	[phone] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cust_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_orderDetails]    Script Date: 2/28/2025 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_orderDetails](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NULL,
	[status] [varchar](30) NULL,
	[totalAmount] [decimal](10, 2) NOT NULL,
	[customerID] [int] NOT NULL,
	[detailsID] [int] NOT NULL,
	[quantity] [int] NULL,
	[price] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_product]    Script Date: 2/28/2025 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_product](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2/28/2025 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[orderID] [int] NOT NULL,
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](max) NULL,
	[name] [nvarchar](35) NULL,
	[price] [decimal](8, 2) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppleir_product]    Script Date: 2/28/2025 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppleir_product](
	[supplierID] [int] NOT NULL,
	[productID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 2/28/2025 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[suppleirID] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](max) NULL,
	[name] [nvarchar](35) NULL,
	[contactInfo] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[suppleirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_orderDetails] ADD  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[order_orderDetails] ADD  DEFAULT ((0)) FOR [totalAmount]
GO
ALTER TABLE [dbo].[order_orderDetails] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[supplier] ADD  CONSTRAINT [a1]  DEFAULT ('new') FOR [category]
GO
ALTER TABLE [dbo].[order_orderDetails]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[order_product]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[order_orderDetails] ([orderID])
GO
ALTER TABLE [dbo].[suppleir_product]  WITH CHECK ADD FOREIGN KEY([supplierID])
REFERENCES [dbo].[supplier] ([suppleirID])
GO
ALTER TABLE [dbo].[order_orderDetails]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_orderDetails]  WITH CHECK ADD CHECK  (([status]='delivered' OR [status]='shipped' OR [status]='cancelled' OR [status]='pending'))
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
USE [master]
GO
